ion-label {
    font-weight: bolder;
}

ion-input {
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
}

.resultado {
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    color: blue;
    text-align: right;
}
