<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Simples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-card>
    <ion-item>
      <ion-label position="floating">Primeiro valor</ion-label>
      <ion-input type="number" [(ngModel)]="primeiroValor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Segundo valor</ion-label>
      <ion-input type="number" [(ngModel)]="segundoValor"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item color="secondary">
      <ion-label">=</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="resultado">
        {{resultado}}
        </ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="secondary">
    <ion-button (click)="somar()" color="dark" expand="block">
      <h2> + </h2>
    </ion-button>
    <ion-button (click)="subtrair()" color="dark" expand="block">
      <h2> - </h2>
    </ion-button>
    <ion-button (click)="dividir()" color="dark" expand="block">
      <h2> / </h2>
    </ion-button>
    <ion-button (click)="multiplicar()" color="dark" expand="block">
      <h2> * </h2>
    </ion-button>
    <br>
    <ion-button color="dark" expand="block">
      <h4> LIMPAR </h4>
    </ion-button>
  </ion-card>
</ion-content>